:root {
  --color-primary: #6750a4;
  --color-on-primary: #ffffff;

  --color-primary-container: #eaddff;
  --color-on-primary-container: #4c246d;

  --color-surface: #f7f2fa;
  --color-outline: #cac4d0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.layout {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 70px auto auto 60px;
  grid-template-areas:
    "navbar"
    "filter-box"
    "container-cards"
    "footer";
  min-height: 100vh;
  width: 100%;
}

/* Barra de navegacion */
.navbar {
  background-color: var(--color-on-primary-container);
  display: grid;
  grid-area: navbar;
  width: 100%;
  color: var(--color-on-primary);
}

.container-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 20px;
}

.titulo-logo {
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-on-primary);
}

.navbar img {
  height: 30px;
  color: var(--color-on-primary);
}

.hamburger {
  background-color: var(--color-on-primary-container);
  border: none;
  font-size: 25px;
}

button {
  background-color: var(--color-on-primary-container);
  color: #ffffff;
  display: block;
  font-size: 25px;
  border-style: none;
}

/* Filter-Section */

.filter-box {
  grid-area: filter-box;
  background-color: var(--color-primary-container);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  width: 100%;
}

.filter-box p {
  font-size: 20px;
  font-weight: 300;
}

#cars {
  width: 100%;
  max-width: 500px;
  padding: 10px;
}

.container-cards {
  display: flex;
  grid-area: container-cards;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--color-outline);
  width: 100%;
  gap: 20px;
  padding: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  border: 1px solid lightslategrey;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  width: 100%;
}

.card-body img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.card-body h5 {
  font-size: 20px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn button {
  background-color: var(--color-primary);
  border-radius: 5px;
  color: white;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
}

.next {
  display: flex;
}

.next a {
  background-color: white;
  border: 1px solid lightslategray;
  text-decoration: none;
  padding: 15px;
}

.next i {
  color: lightslategray;
}

.footer {
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  grid-area: footer;
}

footer p {
  color: var(--color-on-primary);
}

/* medias queries 
@media (min-width:576px){

    .btn{
    border-radius: 5px;
    background-color: blueviolet;
    color: white;
    padding: 15px;
    }
}

@media (min-width:768px){

    .btn{
    border-radius: 1px solid 50%;
    background-color: rgb(95, 226, 43);
    color: white;
    }
}

@media (min-width:992px){

    .btn{
   display: none;
    }
}
    */
